body{
    background-color: hsl(30, 54%, 90%);
    width: 1440px;

}
@font-face {
    font-family: 'Young Serif'; 
    src: url("C:\Users\vikto\Downloads\recipe-page-main(1)\recipe-page-main\assets\fonts\young-serif\YoungSerif-Regular.ttf") format('ttf'), 
    font-weight: 400; 
    font-style: normal; 
}

@font-face {
    font-family: 'Outfit';
    src: url("C:\Users\vikto\Downloads\recipe-page-main (1)\recipe-page-main\assets\fonts\outfit\Outfit-VariableFont_wght.ttf") format('ttf'), 
    font-weight: 400;  
    font-style: normal;  
}


.main {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    margin: 80px 220px;
    padding: 40px;
}

p,
li,
th {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

ul li,
ol li{
    margin-bottom: 15px;
}

img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.preparation{
    background-color:  hsl(330, 100%, 98%);
    border-radius: 5%;
    padding: 20px;
}

h1 {
    font-family: 'Young Serif';
}

h4 {
    color: hsl(332, 51%, 32%);
    font-family: 'Young Serif', sans-serif;
}

h3 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', sans-serif;
}

span {
    font-weight: bold;
}

.instruction {
    list-style-type: decimal; 
}
  
.instruction  li::marker {
    padding-left: 30px;
    font-family: 'Young Serif', sans-serif;
    font-weight: bold; 
    color: hsl(14, 45%, 36%)
}

.instruction li{
    padding-left: 20px;
}

.datacell {
    font-family: 'Young Serif', sans-serif;
    font-weight: bold;
    color: hsl(14, 45%, 36%)
}

.styled-table {
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
    margin: 20px;
    
}